.actions {
  position: absolute;
  display: flex;
  bottom: 3%;
  left: 45%;
  width: 10%;
  background: #FFFFFF80;
}

.actions .button {
  cursor: pointer;
  background: #FFFFFF10;
  height: 35px;
  width: 35px;
  /* width: 130px; */
  /* border-radius: 30px; */
  /* margin-right: 10px; */
  border: none;
}

.controls {
  position: absolute;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  top: 0;
}

.controls p {
  font-family: monospace;
  color: white;
}

/* .rightPanel{
  display: none;
} */